[DEFAULT]
# Used in settings.py
SECRET_KEY = 'your_secret_key'
LND_DATA_PATH = 'path_to_LND_instance_data'

[BITCOIND_MAINNET]
# Boolean: True, False
btc_rpc_use_https=false

# RPC username
btc_rpc_username=your_username

# RPC password     
btc_rpc_password=your_password

# IP address of the node
btc_rpc_ip=127.0.0.1

# Port of the node
btc_rpc_port=8332

[BITCOIND_TESTNET]
# Boolean: True, False
btc_rpc_use_https=false

# RPC username
btc_rpc_username=your_username

# RPC password
btc_rpc_password=your_password

# IP address of the node
btc_rpc_ip=127.0.0.1

# Port of the node
btc_rpc_port=18332

[LND_MAINNET]
# IP address of the node
rpc_server=127.0.0.1

# Port of the node
rpc_port=10009

# LND cert file (e.g. /home/username/.lnd/tls.cert)
lnd_cert_file=/path/to/tls.cert

# LND macaroon file for this account
lnd_macaroon=/path/to/xx.macaroon


[LND_TESTNET]
# IP address of the node
rpc_server=127.0.0.1

# Port of the node
rpc_port=12009

# LND cert file (e.g. /home/username/.lnd/tls.cert)
lnd_cert_file=/path/to/tls.cert

# LND macaroon file for this account
lnd_macaroon=/path/to/xx.macaroon

[PROMETHEUS]
# Top level URL to Prometheus  (e.g. http://192.168.x.xx/prometheus/)
prom_api_url=url

# The NGINX basic_auth username. Set to None if unauthenticated
prom_user_name=username

# The NGINX basic_auth password.
prom_user_password=password       



