aiogrpc==1.5
coverage==4.5.1
Django==2.1.0
django-cors-headers==2.4.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
graphene-django==2.1.0
grpcio-tools==1.14.1
googleapis-common-protos==1.5.3
mixer==6.0.1
pylint-django==2.0
pytest-cov==2.5.1
pytest-django==3.3.3
python-bitcoinrpc==1.0
yapf==0.22.0