aiogrpc==1.5
coverage==4.5.1
channels==2.1.3
Django==2.1.1
django-cors-headers==2.4.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
graphene-django==2.2.0
grpcio-tools==1.14.2
googleapis-common-protos==1.5.3
pylint-django==2.0.2
pytest-cov==2.6.0
pytest-django==3.4.2
python-bitcoinrpc==1.0
psutil==5.4.7
yapf==0.24.0

# mixer  --> Does not support Django 2.1
git+git://github.com/Mikhail517/mixer.git@develop#egg=mixer